node_modules
**/node_modules

dist
**/dist

*.tsbuildinfo
**/*.tsbuildinfo

.git
.gitignore

.env
.env.*

*.log
npm-debug.log*

.vscode/
.idea/

.DS_Store
Thumbs.db

coverage
**/coverage

**/*.test.ts
**/*.spec.ts

README.md